body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #ededed;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #ffffffe6;
    padding: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.logo img {
    height: 135px;
}


.hero {
    background-color: white;
    text-align: center;
    margin-top: -10%;
    position: relative;
    height: 329px;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

#export-catalogue {
    padding: 36px;
}

.about-summary1 {
    background-color: white;
    width: 70%;
    border-radius: 15px;
    padding: 100px;
}

.hero-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogue-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.catalogue-item a img {
    border-radius: 25px;
}

.catalogue-item {
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    color: #1D2A44;
    margin: 0px;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
}

.cta-button {
    background-color: #31a98b;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

footer {
    background-color: #192c3c;
    color: #fff;
    text-align: center;
    padding: 20px 0;

}

.social-icons a img {
    width: 65px;
    padding: 25px;
}

.testimonials {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 20px;
    width: 91%;
    margin-left: 52px;

}

.testimonials::-webkit-scrollbar {
    display: none; /* Hides scrollbar on mobile devices */
}

.testimonials {
    -ms-overflow-style: none; /* Hides scrollbar on IE and Edge */
    scrollbar-width: none; /* Hides scrollbar on Firefox */
}

.testi-item {
    min-width: 300px; /* Adjust this to control the width of each testimonial */
    max-width: 300px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    scroll-snap-align: start;
}

.testi-item p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

#why-choose-us {
    padding: 40px;
    background-color: #f8f8f8;
}

#why-choose-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.why-choose-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.why-choose-item {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    width: 250px; /* Adjust as per your need */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.why-choose-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.why-choose-item strong {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.why-choose-item p {
    font-size: 1rem;
    color: #666;
}

#team {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

#team h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.founder {
    margin-bottom: 40px;
}

.founder h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    margin-top: 5px;
}

.founder p {
    font-size: 1.2rem;
    color: #777;
    margin: 0;
}

.founder img {
    width: 180px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
}

.team-member h3 {
    margin: 15px 0 5px;
    font-size: 1.2rem;
    color: #333;
}

.team-member p {
    font-size: 1rem;
    color: #777;
    padding: 0 10px 0px;
}

#certifications {
    padding: 40px;
    background-color: #f8f8f8;
    text-align: center;
}

#certifications h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.cert-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.cert-item {
    background-color: #fffaee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cert-item img {
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}

.cert-item h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.cert-item p {
    font-size: 0.9rem;
    color: #777;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 154px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 100px;
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 50px;
    right: 100px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#contact {
    padding: 60px 0;
    background-color: #f4f4f9;
    text-align: center;
}

#contact h2 {
    font-size: 2.5rem;
    color: #1D2A44;
    margin-bottom: 40px;
    font-weight: bold;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.contact-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.contact-item:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.contact-item i {
    font-size: 2.5rem;
    color: #1D2A44;
    margin-right: 15px;
}

.contact-info p {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
    text-align: left;
}

.contact-info p strong {
    color: #1D2A44;
    font-size: 1.3rem;
    text-align: left;
}

#faq {
    padding: 0px 20px;
    background-color: #f4f4f9;
    text-align: center;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faq h2 {
    font-size: 2.5rem;
    color: #1D2A44;
    margin-bottom: 40px;
    font-weight: bold;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

.faq-item {
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 800px;
}

.faq-item:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.faq-question {
    font-size: 1.5rem;
    color: #1D2A44;
    margin: 0;
    font-weight: bold;
}

.faq-answer {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #666;
    display: none;
}

.faq-item.active .faq-answer {
    display: block;
}

footer img {
    width: 55px;
}

footer p {
    margin: 0;
}

.social-icons a img {
    width: 65px;
    padding: 25px;
}



/* Media Queries */
@media (max-width: 768px) {
    /* For mobile or smaller screens, adjust FAQ item width */
    .faq-item {
        width: 80%; /* Full width for smaller screens */
        max-width: 95%; /* Ensures it doesn't exceed screen width */
    }
    
    /* Adjust catalogue item images for mobile with horizontal scroll */
    .catalogue-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px; /* Spacing between items */
        padding: 10px; /* Ensure padding to keep the first item 
    }

    .catalogue-grid::-webkit-scrollbar {
        display: none; /* Hide scrollbar on Webkit browsers */
    }

    .why-choose-list{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .why-choose-item{
        padding: 10px;
        width: 155px;
    }

    .cert-grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .team-grid{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .team-member{
        width: 145px;
    }
    .cert-item{
        padding: 10px;
        width: 155px;
    }

    .catalogue-item {
        flex: 0 0 auto; /* Prevent items from shrinking or growing */
        scroll-snap-align: start; /* Align items to the start when scrolling */
        margin-left: 10px; /* Add margin to ensure first item isn't cut off */
    }

    .catalogue-item a img {
        width: 150px; /* Adjust image size for smaller screens */
        border-radius: 10px;
    }

    /* For about summary section on smaller screens */
    .about-summary1 {
        width: 90%; /* Adjusts to 90% of the screen width for better readability */
        padding: 30px; /* Reduce padding for smaller screens */
    }
}

@media (max-width: 480px) {

   
    /* Even smaller screens like phones */
    .faq-item {
        width: 100%;
        padding: 15px; /* Smaller padding for compact view */
        margin-bottom: 5px;
    
    }

    #faq   h2{
        font-size: 26px;
    }

    #contact h2{
        font-size: 26px;
        margin-bottom: 10px;

    }
    #team h2{
        font-size: 26px;

    }
    #certifications h2{
        font-size: 26px;

    }
    #why-choose-us h2{
        font-size: 26px;
    }

    h3{
            font-size: 26px;    
    }
    .about-summary1 {
        width: 80%;
        padding: 20px; /* Further reduce padding for smaller devices */
    }

    .logo img{
        height: 73px;
    }
    .testimonials {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 15px;
        padding: 18px;
        width: 81%;
        margin-left: 11px;
    
    }
    .faq-answer p{
        font-size: 11px;
    }
    .contact-item i {
        font-size: 1.5rem;
    }
    .contact-info p strong {
        font-size: 16px;
    }
    .contact-info p {
        font-size: 12px;
    }

    .contact-item {
        width: 250px;
        padding: 10px;
    }


}

@media (max-width: 430px) {
.hero{
    margin-top: 0px
}
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff; /* Adjust to your website theme */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader-gif {
    width: 250px; /* Adjust as needed */
}

.nav-links{
    display: flex;
    position: fixed;
    margin-top: 139px;
    gap: 17px;
    width: 45%;
    padding: 9px;
    background: #8f8f8f59;
    border-radius: 0px 0px 0px 52px;
    justify-content: center;
    z-index: 9999;

}

.navi{
    width: 100%;
    display: flex;
    justify-content: right;
}
.nav-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: monospace;
    font-size: 1vw;

}

@media (max-width: 1000px) {
   
    .nav-links{
        display: flex;
        position: fixed;
        margin-top: 139px;
        gap: 45px;
        width: 8%;
        padding: 0px;
        background: #8f8f8f7e;
        border-radius: 0px 0px 65px 13px;
        z-index: 9999;
        flex-direction: column;
        align-items: center;
        height: 78vh;
    
    }

    .nav-item {
        transform: rotate(323deg);
    }
    }

    @media (max-width: 480px){

        .nav-links{
            display: flex;
            position: fixed;
            margin-top: 77px;
            gap: 10px;
            width: 94%;
            padding: 15px;
            background: #8f8f8f7e;
            border-radius: 0px 0px 17px 17px;
            justify-content: center;
            z-index: 9999;
            flex-direction: row;
            height: 0vh;
        
        }

        .social-icons a img{
            width: 43px;
        padding: 10px;
        }

        .faq-question{
            font-size: 12px;
        }
    

        .nav-item {
            transform: rotate(0deg);
        }
        .nav-item a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-family: monospace;
            font-size: 2vw;
        
        }
        .navi{
            width: 100%;
            display: flex;
            justify-content:center;
        }
    }

  /* Background color change for the active nav link */

.active-link {
color: #000;
    text-shadow: 0 0 16px rgb(255 0 0);
    background: radial-gradient(#ffffff, #d8d8d800);
    padding: 9px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;
}


